body {
    background-image: url(/images/background.jpg);
    display: flow;
    flex-direction: column;
}

.jumbotron{
    background-color: rgba(0,0,0,0.1);
    min-height: 90vh;
}

.bg-blur {
    background-color: rgba(0, 0, 0, 0.7); /* Black w/opacity/see-through */
}

.navbar {
    background: #3d3d3d;
}

.navbar a:hover {
    background-color: lightslategray;
}