<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common::head"></head>
<body class="body-main">
<header th:replace="fragments/common::navigation"></header>

<main role="main">
    <div class="jumbotron">

        <div class="container text-dark text-center">
            <h1 class="display-3 ">
                <strong class="rounded pl-3 font-weight-bold">Employees to be read</strong></h1>
        </div>

        <div class="container bg-blur rounded p-5 mt-5 w-75">
            <form action="/employees/add" method="POST" enctype="multipart/form-data" class="text-center text-light" th:object="${fileToUpload}">
                <div class="form-group row">
                    <label for="fileToRead" class="col-sm-2 col-form-label">File to read: </label>
                    <div class="col-sm-10">
                        <input type="file" th:field="*{fileData}" th:errorclass="bg-danger" class="form-control" id="fileToRead">
                    </div>
                </div>

                <button type="submit" class="btn btn-danger w-50">Read employees</button>
            </form>
        </div>
    </div>
</main>
<footer th:replace="fragments/common::footer"></footer>

</body>
</html>