<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common::head"></head>
<body class="body-main">
<header th:replace="fragments/common::navigation"></header>

<main role="main">
    <div class="jumbotron">
        <div class="container text-dark text-center">
            <h1 class="display-3"><strong class="rounded pl-3 font-weight-bold">Employees Application</strong></h1>
        </div>
        <div class="container bg-blur text-light align-content-center rounded mt-5 p-5">
            <h4 class="mt-5 mb-5 text-center">Load employees data from file and get employee couples, who worked longest together :)
            </h4>
        </div>
    </div>
</main>
<footer th:replace="fragments/common::footer"></footer>

</body>
</html>